*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --box-size: 210px;
  --red: #F15022;
  --shadow-red: #C33912;
  --green: #7EBA00;
  --shadow-green: #648C08;
  --blue: #00A3EE;
  --shadow-blue: #0986C0;
  --yellow: #FFB901;
  --shadow-yellow: #C28F02;
}
.container{
  display: grid;
  place-content: center;
  height: 100vh;
}
h1{
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
  caret-color: transparent;
}
.simon-box{
  display: grid;
  grid-template: repeat(2,var(--box-size)) / repeat(2,var(--box-size));
  gap: 25px;
  padding: 3rem;
}
.simon-box > button{
  width: var(--box-size);
  border-radius: 3px 3px 0 0 ;
  border: none;
  caret-color: transparent;
}
.red{
background-color: var(--red);
box-shadow: 0px 7px 2px 2px var(--shadow-red);
}
.green{
  background-color: var(--green);
  box-shadow: 0px 7px 2px 2px var(--shadow-green);
}
.blue{
  background-color: var(--blue);
  box-shadow: 0px 7px 2px 2px var(--shadow-blue);
}
.yellow{
  background-color: var(--yellow);
  box-shadow: 0px 7px 2px 2px var(--shadow-yellow);
}
.pressed {
  box-shadow: 0px 4px 4px 0px gray;
}
